body{
    font-family: 'Poppins', sans-serif;
}

h1{
    
    font-size: 40px;
}

.heading{
    color: orange;
}


.first_section{

    display: flex;
}

.half_width{
    width: 50%;
    margin-left: 3%;
    padding-left: 3%;
}

.half_width img{
    width: 80%;
    
}

.link_button{
    text-decoration: none;
    /* background-color: orange; */
    background-image: linear-gradient(orange, red)  ;
    padding: 15px 20px;
    border-radius: 50px;
    color: white; 
    font-weight: 700;
    margin-bottom: ;

}

.second_section{

    background-image: url(images/group2.png);
    background-repeat: none;
    padding-bottom: 40%;
    
}


