body{
    font-family: 'Poppins', sans-serif;
}

h1{
    
    font-size: 40px;
}

.heading{
    color: orange;
}


.first_section{

    display: flex;
}

.half_width{
    width: 50%;
    margin-left: 3%;
    padding-left: 3%;
}
